/* Css reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* Header  */
header, p {
    
    text-align: center;
    margin: 3rem 0;
}      


h1 {
    color: #e4346f;
    font-size: 40px;   
}

p {
    font-size: 20px;
}



/* Generics  */
img {
    height: 125px;
    float: left;
    padding-right: 1rem;

}
.container {
    max-width: 75%;
    margin: auto;
}

.column {
float: left;
width: calc(100% / 3 - 2rem);
background-color: black;
color: white;
margin: 1rem;
}

a {
    text-decoration: none;
    color: #5cb3de;
}


.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.infos {
    margin: 1rem;
    padding-top: 0.5rem;
}

.job {
    padding: 0.5rem;
}

.row {
    margin: 0 -1rem;
}
/* utils  */
